{% extends "../base.html" %}
{% load mathfilters %}
{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
	<div id="board">
		<form id="search_form" action="/board/view" method="post">

			<input type="submit" value="찾기">
		</form>

		<table class="tbl-ex">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>글쓴이</th>
				<th>조회수</th>
				<th>작성일</th>
				<th>삭제</th>
			</tr>
			{% for boardlist in boardLists %}
			<tr>
				<td>{{ boardLists.count | add:1 | sub:forloop.counter }}</td>

				<td>

					{% if request.session.authuser is not None %}
					<a href="/board/view?id={{ boardlist.id }}">
					   {% endif %} {{ boardlist.title }}</a></td><!--어류동-->


				<td>{{ boardlist.name }}</td>
				<td>{{ boardlist.hit  }}</td>
				<td>{{ boardlist.regdate|date:'Y-m-d H:i:s' }}</td>

				{% if request.session.authuser.id is boardlist.user.id %}
				<td><a href="/board/list_Delete?id={{ boardlist.id }}" class="del"></a></td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>

		{% if request.session.authuser is not None %} <!-- 이것은 버튼 숨기기 -->
		<div class="bottom">
			<a href="/board/write" id="new-book">글쓰기</a> <!--write페이지 호출-->
		</div>
		{% elif request.session.authuser is None%}
		<div class="bottom">
			<a href="/user/loginform" id="new-book">글쓰기</a> <!--write페이지 호출-->
		</div>
		{% endif %}
	</div>
{% endblock %}